body {
  background-color: #c0c5ce;
}

.carousel {
  text-align: center;
}

.home-links{
  padding-top: 4em;
  padding-bottom: 5em;
  font-weight: 600;
  text-align: center;
}

.home-links-text{
  padding-bottom: 2em;
}

.bio {
  padding-top: 5em;
  text-align: center;
}

.bio-text {
  padding-bottom: 5em;
  font-size: 14pt;
  font-weight: 600;
}

.contact {
  padding-top: 5em;
  text-align: center;
}

#nav-logo{
  display: inline-block;
}

#nav-logo-text{
  display: inline-block;
  margin-left: .5em;
  color: rgb(233, 231, 231);
}